
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Hakkımda</h6>
          <p class="text-justify">2016-2020 yılları arasında  Süleyman Demirel Üniversitesi Endüstri Mühendisliği bölümünü bitirdim. Üretim stajımı Antalya'da Ankutsan fabrikasında üretim ve planlama departmanında Üretim  planlama mühendisi olarak , yönetim stajımı da İstanbul'da VBT Bilgi Teknolojileri şirketinde Mobile Developer olarak tamamladım.2018 yılından beri yazılımla uğraşıyorum, aynı zamanda 2020-2022 yılları arasında 1,5 yıl  boyunca Ankara TRT Genel Müdürlüğünde Planlama Mühendisi olarak görev yaptım. Daha sonra daha ilgili olduğum alana birim değişikliği yaparak 2022 Nisan ayından itibaren  aynı kurumda Software Developer olarak görevime devam etmekteyim.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Kategoriler</h6>
          <ul class="footer-links">
            <li><a href="#">Metaverse Zirvesi</a></li>
            <li><a href="#">12 Punto 2022</a></li>
            <li><a href="#">World Citizen</a></li>
            <li><a href="#">World Forum</a></li>
            <li><a href="#">TRT İzle</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Hızlı Linkler</h6>
          <ul class="footer-links">
            <li><a href="#">Detaylar</a></li>
            <li><a href="#">İletişim</a></li>
            <li><a href="#">Katkıda Bulun</a></li>
            <li><a href="#">Harita</a></li>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 Tüm Hakları Saklıdır by 
       <a href="#">BerkKucukoglu</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/holder.min.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
  <script src="/path/to/cdn/moment.min.js"></script>
  <script src="https://kit.fontawesome.com/52d0a984a1.js" crossorigin="anonymous"></script>
  <script src="js/script.js">  </script>
</body>
</html>
