<% try { %>
    <%- include('partials/header', {user: [firstName, lastName]}) %>
  <%} catch(error) { %>
    <%- include('partials/header')%>
  <%} %>

<form style="padding: 5% 30%;" method="post" action="/add_item">
    <!-- Text input -->
    <div class="form-outline mb-4">
        <input name="addedTitle" type="text" id="form6Example4" class="form-control"
            placeholder="Etkinlik " />
        <label class="form-label" for="form6Example4">Başlık</label>
    </div>
    <!-- Message input -->
    <div class="form-outline mb-4">
        <textarea class="form-control" id="form6Example7" rows="4"></textarea>
        <label name="addedDescription" class="form-label" for="form6Example7">Açıklama</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Onayla</button>
</form>






<%- include('partials/footer') %>